- content_for :title, "Dependents"
- content_for :subtitle, "Listing dependents"
%article
  %section
    .for= @member.display
    .clear
    %table.reservations
      %thead
        %tr
          %th 
          %th Name
          %th Date of birth
          %th Emblem
      %tbody
        - for dependent in @dependents
          %tr
            %td= link_to "Show", [@member, dependent]
            %td= dependent.name
            %td= dependent.dob
            %td= dependent.emblem
      %tfoot
    %ol.links
      %li= link_to "Add a new dependent", new_member_dependent_path(@member)
      %li= link_to "Back to account", @member
