- content_for :title, "Dependent"
- content_for :subtitle, "Viewing dependent"
%article
  %section
    .for= @member.display
    .clear
    - if notice
      %p#notice= notice
    %p
      %b Name:
      = @dependent.name
    %p
      %b Age:
      = "#{@dependent.age} (#{@dependent.dob})"
    %p
      %b Emblem:
      = @dependent.emblem
    %ol.links
      %li= link_to "Edit", edit_member_dependent_path(@member, @dependent)
      %li= link_to "Destroy", [@member, @dependent], :confirm => 'Are you sure?', :method => :delete
      %li= link_to "Back to member account", member_path(@member)