- content_for :title, "Employee"
- content_for :subtitle, "Employee: #{@employee.name}"
%article
  %section
    %h2 Basic information
    %p
      Name:
      = @employee.name
    %p
      Position:
      = @employee.position
    %p
      Hometown:
      = @employee.hometown
    %p
      High school:
      = @employee.highschool
    - unless @employee.college.blank?
      %p
        College:
        = @employee.college
    %h2 Stats
    - unless @employee.height.blank?
      %p 
        Height:
        = @employee.height_display
    - unless @employee.weight.blank?
      %p 
        Weight:
        = @employee.weight
        lbs
    %h2 Other information 
    %p= "Profile created #{time_ago_in_words(@employee.created_at)} ago"
    %p= "Profile last updated #{time_ago_in_words(@employee.updated_at)} ago"