= form_for [@member, @independent]do |f|
  -if @independent.errors.any?
    #error_explanation
      %h2= "#{pluralize(@independent.errors.count, "error")} prohibited this independent from being saved:"
      %ul
        - @independent.errors.full_messages.each do |msg|
          %li= msg

  %table
    %thead
    %tbody
      %tr
        %th= f.label :name_first, "First name"
        %td= f.text_field :name_first
      %tr
        %th= f.label :name_last, "Last name"
        %td= f.text_field :name_last
      %tr
        %th= f.label :name_suffix, "Suffix"
        %td= f.text_field :name_suffix, :placeholder => "Jr., III"
      %tr
        %th= f.label :email, "Email"
        %td= f.email_field :email, :placeholder => "example@email.com"
      %tr
        %th= f.label :phone_areacode, "Emergency phone number"
        %td
          (
          = f.phone_field :phone_areacode, :placeholder => "###", :style => "width:45px;", :maxlength => 3
          )
          = f.phone_field :phone_exchange, :placeholder => "###", :style => "width:45px;", :maxlength => 3
          \-
          = f.phone_field :phone_subscriber, :placeholder => "####", :style => "width:57px;", :maxlength => 4
    %tfoot
  = f.submit
