- content_for :title, "Independents"
- content_for :subtitle, "Listing independents"
%article
  %section
    .for= @member.display
    .clear
    %table.reservations
      %thead
        %tr
          %th Name
          %th Email
          %th Phone
          %th
      %tbody
        - @independents.each do |independent|
          %tr
            %td= independent.name
            %td= independent.email
            %td= independent.phone
            %td= link_to 'Show', [@member, independent]
    %tfoot
    %ol.links
      %li= link_to "Add a new independent", new_member_independent_path(@member)
      %li= link_to "Back to account", @member