%p#notice= notice

%p
  %b Name first:
  = @independent.name_first
%p
  %b Name middle:
  = @independent.name_middle
%p
  %b Name last:
  = @independent.name_last
%p
  %b Name suffix:
  = @independent.name_suffix
%p
  %b Email:
  = @independent.email
%p
  %b Phone:
  = @independent.phone
%p
  %b Member:
  = @independent.member

= link_to 'Edit', edit_independent_path(@independent)
\|
= link_to 'Back', independents_path
