- content_for :title, "Register"
- content_for :subtitle, "Create new employee account"
%article
  %section
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %table
        %thead
          %tr
            %th{:colspan => 2} Information
        %tbody
          %tr
            %th{:style=>"width:50%;"}= f.label :name
            %td= f.text_field :name
          %tr
            %th= f.label :badge
            %td= f.number_field :badge
          %tr
            %th
              = f.label :membership
              = f.label :membership, 'Type of membership', :class => 'hint'
            %td= f.select :membership, options_for_select(Member.membership_types, resource.membership), { :include_blank => true }
      %table
        %thead
          %tr
            %th{:colspan => 2} Account
        %tbody
          %tr
            %th{:style=>"width:50%;"}= f.label :email
            %td= f.email_field :email
          %tr
            %th
              = f.label :password
              = f.label :password, 'Password should be at least 8 characters and contain a mix of uppercase letters, lowercase letters, and numbers.', :class => 'hint'
            %td= f.password_field :password
          %tr
            %th= f.label :password_confirmation
            %td= f.password_field :password_confirmation
      %tfoot
      = f.submit "Register"
    = render :partial => "devise/shared/links"
