- content_for :title, "Home"
- content_for :intro do
  #news
    %h1 Highlights
    %div
      %a{:href => root_url}
        %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/swimming.png"}
        Swim meet is June 7th at 9am
    %div
      %a{:href => "#sdfsf"} 
        %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/tennis.png"} 
        Tennis team is undefeated
    %div
      %a{:href => "#"}
        %img{:src => "http://maxkramer.me/projects/npc/images/icon/silhouette/diving.png"}
        Diving meet Tuesday night
  #slider
    %ul#sliderContent
      %li.sliderImage{:style => "display: block;"}
        %img{ :src=> "http://maxkramer.me/projects/npc/images/slider/01.jpg" }
        %span.bottom{ :style => "display: block;"}
          %h1 Beach
          The beautiful beach and water.
      %li.sliderImage{:style => "display: none;"}
        %img{ :src=> "http://maxkramer.me/projects/npc/images/slider/02.jpg" }
        %span.bottom{ :style => "display: none;"}
          %h1 Waves in the water
          Come swim in the water.  Only small waves.
      %li.sliderImage{:style => "display: none;"}
        %img{ :src=> "http://maxkramer.me/projects/npc/images/slider/03.jpg" }
        %span.bottom{ :style => "display: none;"}
          %h1 Sunset
          View a beautiful sunset across the water at night.
      %div{ :class => "clear sliderImage" }
%article
  %section
    %h2 Welcome to the Noe Pond Club
    %p The Noe Pond Club was founded in 1955 as a member-owned, non-profit family swim club by Nancy Tasman Brower and Bailey Brower Jr. The three-and-a-half-acre pond, the Club's hallmark, has been an important part of the community and Brower family history since the early 1800's. The pond was created for the family's large dairy and fruit farm. During the winters, the pond was the local source of ice.
    %div.featured
      %h2 Last update
      .post
        %h3= link_to @post.title, @post
        .author
          = "Posted on #{@post.created_at.strftime("%B #{@post.created_at.day.ordinalize}, %I:%M %p")}"
          by 
          = link_to "Max Kramer", "https://twitter.com/maxckramer"
        - if @post.body.length < 100
          %p= @post.body
        - else
          %p= "#{@post.body[0,100]} ..."
        .readmore
          = link_to "Read more", @post
          = link_to "Comment", @post
    %h2 What's going on today around the club?
    %table.events{:style=>"background-color:white;margin:0;padding:0px;width:100%;border-collapse:collapse;"}
      %thead
      %tbody
        %tr{:style=>"border-bottom: 1px solid gray;"}
          %td{:style=>"padding: 10px;"} 9:00-11:00am
          %td{:style=>"padding: 10px;"} Swim meet vs. Clearwater
        %tr
          %td{:style=>"padding: 10px;"} 5:00-7:00pm
          %td{:style=>"padding: 10px;"} Diving meet vs. New Providence