- content_for :title, "Tennis reservations"
%article
  %section
    - if notice
      %p#notice= notice
    %p 
      You can view existing and past court reservations below.  If you are unable to make a reservation, please remove the reservation below.  You can reserve a court 
      = link_to "here.", new_member_tennis_reservation_path(@member)
    %h2 Current reservations
    - if @current_reservations.empty?
      %p You do not have any upcoming reservations.
    - else
      %table{:class => "reservations"}
        %thead
          %tr
            %th Date
            %th Start
            %th End
            %th Court
            %th Surface
            %th Delete
        %tbody
          - @current_reservations.each do |tennis_reservation|
            %tr
              %td= tennis_reservation.date_text
              %td= tennis_reservation.start_at_text
              %td= tennis_reservation.end_at_text
              %td= tennis_reservation.court
              %td= tennis_reservation.surface
              %td= link_to "Delete", [@member, tennis_reservation], :method => :delete, :confirm => "Are you sure?"
    %h2 Past reservations
    - if @old_reservations.empty?
      %p You do not have any past reservations.
    - else
      %table{:class => "reservations"}
        %thead
          %tr
            %th Date
            %th Start
            %th End
            %th Court
        %tbody
          - @old_reservations.each do |tennis_reservation|
            %tr
              %td= tennis_reservation.date_text
              %td= tennis_reservation.start_at_text
              %td= tennis_reservation.end_at_text
              %td= "#{tennis_reservation.court} (#{tennis_reservation.surface})"
    %p= link_to 'Make new court reservation for tennis', new_member_tennis_reservation_path(@member)
