%p#notice= notice

%p
  %b Member:
  = @tennis_reservation.member
%p
  %b Date:
  = @tennis_reservation.date
%p
  %b Start at:
  = @tennis_reservation.start_at
%p
  %b End at:
  = @tennis_reservation.end_at
%p
  %b Court:
  = @tennis_reservation.court

= link_to 'Edit', edit_tennis_reservation_path(@tennis_reservation)
\|
= link_to 'Back', tennis_reservations_path
