- content_for :title, "Reservations"
- content_for :subtitle, "Tennis reservation"
%article
  %section
    - if notice
      %p#notice= notice
    %p
      %b Member:
      = @tennis_reservation.member.display
    %p
      %b Date:
      = @tennis_reservation.date_text
    %p
      %b Start at:
      = @tennis_reservation.start_at_text
    %p
      %b End at:
      = @tennis_reservation.end_at_text
    %p
      %b Court:
      = @tennis_reservation.court
    %ol.links
      = link_to 'Back', member_tennis_reservations_path(@member)