<!DOCTYPE html>
<html lang="en">
  <head id="www-noepondclub-org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= (content_for?(:title)) ? yield(:title) + " | Noe Pond Club" : "Noe Pond Club | Chatham, NJ" %></title>
    <!--<meta name="title" content="Noe Pond Club">-->
    <meta name="description" content="Private swimming, tennis, and paddle club in Chatham, NJ.">
    <meta name="keywords" content="NPC, Noe, Pond, Club" /> 
    <meta name="google-site-verification" content="">
    <meta name="author" content="Max Kramer (maxkramer.me)">
    <meta name="copyright" content="Copyright Max Kramer and Noe Pond Club. All Rights Reserved.">
    <% if current_page?(root_url) %>
    <meta name="DC.title" content="Noe Pond Club">
    <meta name="DC.subject" content="Private swimming, tennis, and paddle club in Chatham, NJ.">
    <meta name="DC.creator" content="Max Kramer (maxkramer.me)">
    <meta property="og:title" content="Noe Pond Club"/>
    <meta property="og:type" content="movie"/>
    <meta property="og:url" content="http://www.noepondclub.org/" />
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Noe Pond Club"/>
    <meta property="fb:admins" content="mckramer"/>
    <meta property="og:description" content="Private club "/>
    <meta property="og:street-address" content="395 Southern Blvd" />
    <meta property="og:locality" content="Chatham Township" />
    <meta property="og:region" content="NJ" />
    <meta property="og:postal-code" content="07928" />
    <meta property="og:country-name" content="USA" />
    <meta property="og:email" content="contact@noepondclub.org" />
    <meta property="og:phone_number" content="973-377-2445" />
    <% end %>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <!--<link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />-->
    <%= stylesheet_link_tag "style", "package" %>
    <%= javascript_include_tag :defaults %>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <style>
      article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
      audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
      audio:not([controls]) { display: none; }
      [hidden] { display: none; }
    </style>
    <![endif]-->
    <% if content_for?(:intro) %>
    <%= javascript_include_tag "slider.js" %>
    <% end %>
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= @body_classes.join(' ') %>">
    <% if @weather %>
    <div id="current-weather" style="position:absolute; top:5px; left:5px; background-color: white; padding: 7px 10px; border-radius:10px; z-index:-99; font-size:80%;">
      Air: <%= @weather.condition.temp %>&deg;<%= @weather.units.temperature %>&emsp;Water: <%= render 'shared/condition-water' %>
    </div>
    <% end %>
    <% if @water_status === :closed %>
    <div id="current-weather" style="position:absolute; top:5px; right:5px; background-color: red; padding: 7px 10px; border-radius:10px; z-index:-99; font-size:80%;">
      Waterfront is closed
    </div>
    <% end %>
    <% if @weather_warning %>
    <div id="info">
      <%= render 'shared/caution-thunderstorms' if @weather_warning === :thunderstorms %>
    </div>
    <% end %>
    <nav class="top">
      <ul> 
        <li><%= link_to "Home", root_path %></li> 
        <li><%= link_to "Current members", "/current", :class => "locked" %></li> 
        <li><%= link_to "Prospective members", "/prospective" %></li> 
        <li><%= link_to "Employment", "/employment" %></li> 
        <li><%= link_to "Directions", "/directions" %></li> 
        <li><%= link_to "Contact", "/contact" %></li> 
				</ul> 
    </nav>
    <header>
      <hgroup>
        <h1>NPC</h1>
				<h2><%= link_to "Noe Pond Club", root_path %></h2> 
				<h3>the <%= link_to "family", "/about/family" %> club since <%= link_to "1955", "/about/history" %></h3>
      </hgroup>
      <div id="social" style="position:relative; top:-370px; left:530px; width: 45px;">
        <a href="http://www.twitter.com/NoePondClub">
          <img style="width:22px;" src="http://maxkramer.me/images/social/twitter_32.png" alt="Follow Noe Pond Club on Twitter"/>
        </a>
        <br>
        <a href="http://www.facebook.com/mckramer">
          <img style="width:22px;" src="http://maxkramer.me/images/social/facebook_32.png" alt="Follow mckramer on Facebook"/>
        </a>
      </div>
    </header>
    <nav class="info">
      <ul>
        <% if current_member.nil? && current_employee.nil? %>
        <li><i>Are you a member?</i></li>
        <li>&rarr;&nbsp;<%= link_to "Login", new_member_session_path %></li>
        <li><i>Not one, but want to be?</i></li>
        <li>&rarr;&nbsp;<%= link_to "Apply for membership", new_member_registration_path %></li>
        <% elsif current_member.nil? && current_employee %>
        <li><i>You are logged in as employee: </i></li>
        <li><%= link_to current_employee.name, current_employee %></li>
        <li><i>Logout when done</i></li>
        <li>&rarr;&nbsp;<%= link_to "Logout", destroy_employee_session_path %></li>
        <% else %>
        <li><%= link_to "#{current_member.name} (##{current_member.badge})", member_path(current_member) %></li>
        <li><%= link_to "Edit account", edit_member_registration_path %></li>
        <li><%= link_to "Logout", destroy_member_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <% if content_for?(:intro) %>
    <div id="intro">
      <%= yield :intro %>
    </div>
    <% end %>
    <div id="content">
      <% if current_page?(root_url) %>
      <% else %>
        <% if content_for?(:subtitle) %>
      <h1><%= yield :subtitle %></h1>
        <% else %>
      <h1><%= yield :title %></h1>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <aside>
      <nav>
        <h1><img style="width:16px;" src="http://maxkramer.me/images/navigation.png" alt="Navigation icon" />&nbsp;&nbsp;Navigation</h1> 
        <ul> 
          <li><%= link_to "Home", root_path %></li> 
          <li>
            <%= link_to "Current members", "/current", :class => "locked" %>
            <% unless current_member.nil? %>
            <ul>
              <li><%= link_to "Tennis court reservations", member_tennis_reservations_path(current_member), :class => "locked" %></li>
              <li><%= link_to "Tennis lessons", root_path, :class => "locked" %></li>
              <% if (8..12).include?(Date.today.month) %>
              <li><%= link_to "Paddle court reservations", root_path, :class => "locked" %></li>
              <li><%= link_to "Paddle lessons", root_path, :class => "locked" %></li>
              <% end %>
              <li><%= link_to "Swim lessons", root_path, :class => "locked" %></li>
              <li><%= link_to "Swim team", "/teams/swimming", :class => "locked" %></li>
              <li><%= link_to "Kids' Program", root_path, :class => "locked" %></li>
            </ul>
            <% end %>
          </li>
          <li><%= link_to "Prospective members", "/prospective" %></li> 
          <li><%= link_to "Employment", "/employment" %></li> 
          <li><%= link_to "Directions", "/directions" %></li>
          <li><%= link_to "Hours", "/hours" %></li>
          <li><%= link_to "Contact", "/contact" %></li> 
        </ul>
      </nav>
      <div class="social">
        <h1><img src="http://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png" alt="Twitter icon" />&nbsp;&nbsp;Twitter</h1>
        <% if @npc_tweets.blank? && @mention_tweets.blank? %>
        <ol>
          <li class="first" style="min-height: 10px; text-align:center;">
            <a href="http://twitter.com/noepondclub" class="twitter-follow-button" data-align="center">Follow @noepondclub</a>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
          </li>
          <li style="min-height: 10px; text-align:center;">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://noepondclub.org" data-text="I love @NoePondClub!" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          </li>
        </ol>
        <% else %>
        <% unless @npc_tweets.empty? %>
        <h2><a href="https://twitter.com/#!/NoePondClub">From Noe Pond</a></h2>
        <ol>
        <% first = true %>
        <% @npc_tweets.each do |tweet| %>
          <li<%= ' class="first"'.html_safe if first %>><a href="https://twitter.com/<%= tweet.from_user %>/status/<%= tweet.id %>"><img src="<%= tweet.profile_image_url %>" /><%= tweet.text %><div class="time_ago"><%= time_ago_in_words(tweet.created_at) %> ago</div></a></li>
        <% end %>
        </ol>
        <% end %>
        <% unless @mention_tweets.empty? %>
        <h2>Recent mentions</h2>
        <ol>
        <% first = true %>
        <% @mention_tweets.each do |tweet| %>
          <li<%= ' class="first"'.html_safe if first %>><a href="https://twitter.com/<%= tweet.from_user %>/status/<%= tweet.id %>"><img src="<%= tweet.profile_image_url %>" /><%= tweet.text %><div class="time_ago"><%= time_ago_in_words(tweet.created_at) %> ago</div></a></li>
        <% end %>
        </ol>
        <% end %>
        <% end %>
      </div>
      <div class="weather">
        <h1><img style="width:16px;" src="http://maxkramer.me/images/weather.png" alt="Weather icon" />&nbsp;&nbsp;Weather</h1>
        <h2>Current conditions</h2>
        <div class="current-conditions">
          <span class="temp">
            <%= @weather.condition.temp %>&deg;<%= @weather.units.temperature %>
          </span>
          <br />
          <span class="text">
            <%= @weather.condition.text %>
          </span>
        </div>
        <h2>Forecast</h2>
        <div class="forecast">
          <div class="weather-<%= @weather.forecasts[0].code %>">
            <h3><%= @weather.forecasts[0].day %></h3>
            High: <%= @weather.forecasts[0].high %>&deg;<%= @weather.units.temperature %>, 
            Low: <%= @weather.forecasts[0].low %>&deg;<%= @weather.units.temperature %> 
            <span class="text"><%= @weather.forecasts[0].text %></span>
          </div>
          <div class="weather-<%= @weather.forecasts[1].code %>">
            <h3><%= @weather.forecasts[1].day %></h3>
            High: <%= @weather.forecasts[1].high %>&deg;<%= @weather.units.temperature %>, 
            Low: <%= @weather.forecasts[1].low %>&deg;<%= @weather.units.temperature %> 
            <span class="text"><%= @weather.forecasts[1].text %></span>
          </div>
        </div>
      </div>
    </aside>
    <div class="clear"></div>
    <footer>
      <p>&copy; 2010-2011 - Noe Pond Club, Inc.</p>
      <p><a href="http://maps.google.com/maps/place?um=1&ie=UTF-8&q=395+Southern+Blvd,+Chatham,+NJ+07928&fb=1&gl=us&hnear=0x89c3ac5c397a0f1d:0x6240bf700c9cc9bf,Maplewood,+NJ&cid=3740138674611884140">395 Southern Blvd, Chatham, NJ 07928</a> &mdash; <a href="tel:973-377-2445">973-377-2445</a></p>
      <p>Site design by <a href="http://maxkramer.me">Max Kramer</a> (<a href="http://twitter.com/maxckramer">@maxckramer</a>)</p> 
		</footer>
		<div id="validator"> 
			<a href="http://validator.w3.org/check?uri=referer">Valid HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">Valid CSS3</a> | <a href="http://www.google.com/chrome/">Google Chrome</a> | <a href="http://www.mozilla.com/firefox/">Mozilla Firefox</a> | <a href="http://maps.google.com">Google Maps</a> | <a href="http://weather.yahoo.com">Yahoo! Weather</a>
    </div>
    <% if content_for?(:intro) %>
    <script type="text/javascript"> 
			$(document).ready(function() {
				$('#slider').s3Slider({
					timeOut: 7000
				});
			});
		</script>
    <% end %>
  </body>
</html>
