<!DOCTYPE html>
<html lang="en">
  <head id="www-noepondclub-org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= yield :title %> | Noe Pond Club</title>
    <meta name="title" content="Noe Pond Club">
    <meta name="description" content="Private swimming, tennis, and paddle club in Chatham, NJ.">
    <meta name="keywords" content="NPC, Noe, Pond, Club" /> 
    <meta name="google-site-verification" content="">
    <meta name="author" content="Max Kramer (maxkramer.me)">
    <meta name="Copyright" content="Copyright Max Kramer and Noe Pond Club. All Rights Reserved.">
    <meta name="DC.title" content="Noe Pond Club">
    <meta name="DC.subject" content="Private swimming, tennis, and paddle club in Chatham, NJ.">
    <meta name="DC.creator" content="Max Kramer (maxkramer.me)">
    <% if current_page?(root_url) %>
    <meta property="og:title" content="Noe Pond Club"/>
    <meta property="og:type" content="movie"/>
    <meta property="og:url" content="http://www.noepondclub.org/" />
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Noe Pond Club"/>
    <meta property="fb:admins" content="mckramer"/>
    <meta property="og:description" content="Private club "/>
    <meta property="og:street-address" content="395 Southern Blvd" />
    <meta property="og:locality" content="Chatham Township" />
    <meta property="og:region" content="NJ" />
    <meta property="og:postal-code" content="07928" />
    <meta property="og:country-name" content="USA" />
    <meta property="og:email" content="contact@noepondclub.org" />
    <meta property="og:phone_number" content="973-377-2445" />
    <% end %>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= params.values_at(:controller, :action).join(' ') %>">
    <div id="current-weather" style="position:absolute; top:5px; left:5px; font-size:200%;">78&deg;F</div>
    <div id="info">
      <div class="caution">
        <img src="http://maxkramer.me/projects/npc/images/weather/Thunderstorms.png" alt="Thunderstorms">
        <h1>Caution: Thunderstorms are forecasted for today.</h1>
        <h2>The club facilities will close in the event of thunder or lightning.</h2>
        <h2>Members can take shelter beneath a grounded structure or in their cars.</h2>
        <h3><a href="#">&rarr;&nbsp;Current weather in Chatham, NJ</a>&emsp;<a href="#">&rarr;&nbsp;Radar</a></h3>
      </div>
    </div>
    <nav class="top">
      <ul> 
        <li><%= link_to "Home", :controller => "page", :action => "home" %></li> 
        <li><%= link_to "Current members", { :controller => "page", :action => "home" }, :class => "locked" %></li> 
        <li><%= link_to "Prospective members", :controller => "page", :action => "prospective" %></li> 
        <li><%= link_to "Employment", :controller => "page", :action => "employment" %></li> 
        <li><%= link_to "Directions", :controller => "page", :action => "directions" %></li> 
        <li><%= link_to "Contact", :controller => "page", :action => "contact" %></li> 
				</ul> 
    </nav>
    <header>
      <hgroup>
        <h1>NPC</h1> 
				<h2><%= link_to "Noe Pond Club", root_path %></h2> 
				<h3>the <%= link_to "family", :controller => "page", :action => "family" %></a> club since <%= link_to "1955", :controller => "page", :action => "history" %></h3>
      </hgroup>
      <div id="social" style="position:relative; top:-370px; left:530px;">
        <a href="http://www.twitter.com/NoePondClub">
          <img style="width:22px;" src="http://maxkramer.me/images/social/twitter_32.png" alt="Follow Noe Pond Club on Twitter"/>
        </a>
        <br>
        <a href="http://www.facebook.com/mckramer">
          <img style="width:22px;" src="http://maxkramer.me/images/social/facebook_32.png" alt="Follow mckramer on Facebook"/>
        </a>
      </div>
    </header>
    <nav class="info">
      <ul>
        <li><%= link_to "The Kramer family (#193)", root_path %></li>
        <li><%= link_to "Logout", root_path %></li>
      </ul>
    </nav>
    <% if content_for?(:intro) %>
    <div id="intro">
      <%= yield :intro %>
    </div>
    <% end %>
    <div id="content">
      <% if current_page?(root_url) %>
      <% else %>
      <h1><%= yield :title %></h1>
      <% end %>
      <%= yield %>
    </div>
    <aside>
      <nav>
        <h1><img width="16px" src="http://www.softicons.com/download/system-icons/codex-icons-by-ilia-draznin/png/48/navigation.png" />&nbsp;&nbsp;Navigation</h1> 
        <ul> 
          <li><%= link_to "Home", :controller => "page", :action => "home" %></li> 
          <li>
            <%= link_to "Current members", { :controller => "page", :action => "home" }, :class => "locked" %>
            <ul>
              <li><%= link_to "Billing", { :controller => "page", :action => "home" }, :class => "locked" %></li>
              <li><%= link_to "Court reservations", { :controller => "page", :action => "home" }, :class => "locked" %></li>
            </ul>
          </li> 
          <li><%= link_to "Prospective members", :controller => "page", :action => "prospective" %></li> 
          <li><%= link_to "Employment", :controller => "page", :action => "employment" %></li> 
          <li><%= link_to "Directions", :controller => "page", :action => "directions" %></li> 
          <li><%= link_to "Contact", :controller => "page", :action => "contact" %></li> 
        </ul>
      </nav>
      <div class="social">
        <h1><img src="http://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png" />&nbsp;&nbsp;Twitter</h1>
        <h2>From Noe's feed</h2>
        <ol>
        <% Twitter::Search.new.from("NoePondClub").fetch.first(3).each do |tweet| %>
          <% 3.times do %>
          <li><a href="https://twitter.com/<%= tweet.from_user %>/status/<%= tweet.id %>"><img src="<%= tweet.profile_image_url %>" /><%= tweet.text %><div class="time_ago"><%= time_ago_in_words(tweet.created_at) %></div></a></li>
          <% end %>
        <% end %>
        </ol>
        <h2>Recent mentions</h2>
        <ol>
        <% Twitter::Search.new.mentioning("NoePondClub").fetch.first(3).each do |tweet| %>
          <% 3.times do %>
          <li><a href="https://twitter.com/<%= tweet.from_user %>/status/<%= tweet.id %>"><img src="<%= tweet.profile_image_url %>" /><%= tweet.text %><div class="time_ago"><%= time_ago_in_words(tweet.created_at) %></div></a></li>
          <% end %>
        <% end %>
        </ol>
      </div>
    </aside>
    <div class="clear"></div>
    <footer>
      <p>&copy; 2010-2011 - Noe Pond Club, Inc.</p>
      <p><a href="http://maps.google.com/maps/place?um=1&ie=UTF-8&q=395+Southern+Blvd,+Chatham,+NJ+07928&fb=1&gl=us&hnear=0x89c3ac5c397a0f1d:0x6240bf700c9cc9bf,Maplewood,+NJ&cid=3740138674611884140">395 Southern Blvd, Chatham, NJ 07928</a> &mdash; <a href="tel:973-377-2445">973-377-2445</a></p>
      <p>Site design by <a href="http://maxkramer.me">Max Kramer</a> (<a href="http://twitter.com/maxckramer">@maxckramer</a>)</p> 
		</footer> 
		<div id="validator"> 
			<a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a> | <a href="http://beta.feedvalidator.org/">Valid RSS</a> | <a href="http://www.google.com/chrome/">Google Chrome</a> | <a href="http://www.mozilla.com/firefox/">Mozilla Firefox</a> | <a href="http://weather.yahoo.com">Yahoo! Weather</a>
    </div>
  </body>
</html>
