- content_for :title, "Member"
- content_for :subtitle, "#{@member.badge}: #{@member.name}"
%article
  %section
    .for
      Membership type:
      = @member.membership.humanize
    .clear
    %h2 Adults
    - if @member.independents.empty?
      %p No independents
    - else
      %table{:class => 'reservations'}
        %thead
          %tr
            %th Name
            %th Phone
            %th Legacy
        %tbody
          - @member.independents.each do |independent|
            %tr
              %td= independent.name
              %td= independent.phone
              - if true
                %td No
              - else
                %td= link_to "Yes", root_path
    %h2 Children
    - if @member.dependents.empty?
      %p No dependents
    - else
      %table{:class => 'reservations'}
        %thead
          %tr
            %th Name
            %th Birthdate
            %th Emblem
        %tbody
          - @member.dependents.each do |dependent|
            %tr
              %td= dependent.name
              %td= "#{dependent.dob.strftime("%m/%d/%y")} (#{dependent.age} yrs old)"
              %td= dependent.emblem
    %h2 Current reservations
    %h3= link_to "Tennis", member_tennis_reservations_path(@member)
    - if @tennis_reservations.empty?
      %p 
        There are no current reservations.
        = link_to "&rarr;&nbsp;Make a new tennis reservation.".html_safe, new_member_tennis_reservation_path(@member)
    - else
      %table{:class => "reservations"}
        %thead
          %tr
            %th Date
            %th Time
            %th Court
            %th Surface
            %th 
        %tbody
          - @tennis_reservations.each do |reservation|
            %tr
              %td= reservation.date.strftime("%B %d")
              %td= "#{reservation.start_at_text}-#{reservation.end_at_text}"
              %td= reservation.court
              %td= reservation.surface
              %td= link_to "Cancel", [@member, reservation], :method => :delete, :confirm => "Are you sure that you want to cancel the reservation?"
        %tfoot
          %tr
            %td{:colspan=>5}= link_to "&rarr; Make new tennis reservation".html_safe, new_member_tennis_reservation_path(@member)
    %h2 Lessons
    %h3 Tennis
    %table{:class => "reservations"}
      %thead
        %tr
          %th Date
          %th Time
          %th Instructor
          %th Type
          %th Pupil
          %th Payment
      %tbody
        - 5.times do |index|
          %tr
            - current_time = Time.now
            %td= (current_time - index.days).strftime("%B %d")
            %td= "#{current_time.strftime("%I:%M")}-#{(current_time + rand(1).hours + 1.hour).strftime("%I:%M %p").sub(/(AM|PM)/) { |m| m.downcase }}"
            %td= ['John', 'Eric'].sample
            %td= lesson_type = ['Private', 'Semi-private'].sample
            - if lesson_type == 'Private'
              %td= ['Max', 'Cam', 'Alex', 'Kelsey', 'Bethany'].sample
            - else
              %td= ['Max', 'Cam', 'Alex', 'Kelsey', 'Bethany'].sample(2).join(", ")
            - if rand(2) == 0
              %td Paid
            - else
              %td= link_to "$#{rand(5) + 10} owed", root_path
      %tfoot
        %tr
          %td{:colspan=>6}= link_to "&rarr; Make new tennis lesson reservation".html_safe, root_path
    %h3 Swimming
    %table{:class => "reservations"}
      %thead
        %tr
          %th Date
          %th Time
          %th Instructor
          %th Type
          %th Pupil
          %th Payment
      %tbody
        - 5.times do |index|
          %tr
            - current_time = Time.now
            %td= (current_time - index.days).strftime("%B %d")
            %td= "#{current_time.strftime("%I:%M")}-#{(current_time + rand(1).hours + 1.hour).strftime("%I:%M %p").sub(/(AM|PM)/) { |m| m.downcase }}"
            %td= ['Max', 'Cam', 'Bethany'].sample
            %td= lesson_type = ['Private', 'Semi-private'].sample
            - if lesson_type == 'Private'
              %td= ['Max', 'Cam', 'Alex', 'Kelsey', 'Bethany'].sample
            - else
              %td= ['Max', 'Cam', 'Alex', 'Kelsey', 'Bethany'].sample(2).join(", ")
            - if rand(2) == 0
              %td Paid
            - else
              %td= link_to "$#{rand(5) + 10} owed", root_path
      %tfoot
        %tr
          %td{:colspan=>6}= link_to "&rarr; Make new swimming lesson reservation".html_safe, root_path
    %h2 Other information 
    %p= "Member for #{time_ago_in_words(@member.created_at)}"
    %p= "Profile last updated #{time_ago_in_words(@member.updated_at)} ago"